.header {
  width: 1254px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.header h1 {
  margin: 0;
  font-size: 30px;
}

.search-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-profile .avatar {
  margin-left: 10px;
}

.price-coin {
  width: 1254px;
  margin: auto 10px;
}